# TOPIC: String Based Assignment Problem

## 1. Write a program to reverse a string.

In [2]:
str = "saikrishna"
print(str)
print(str[::-1])

saikrishna
anhsirkias

## 2. Check if a string is a palindrome.

In [4]:
n = input("enter a string")
if n==n[::-1]:
    print(n+"is a palindrome")
else:
    print(n+"is not a palindrome")

enter a string madam

madamis a palindrome

## 3. Convert a string to uppercase.

In [5]:
str ="saikrishna"
str.upper()

'SAIKRISHNA'

## 4. Convert a string to lowercase.

In [6]:
s ="PWSKILLS"
s.lower()

'pwskills'

## 5. Count the number of vowels in a string.

In [3]:
def count_vowels(string):
    vowel_count = 0
    string = string.lower()
    vowels = set("aeiou")
    for char in string:
        if char in vowels:
            vowel_count += 1
    return vowel_count
input_string = "Hello, how are you?"
result = count_vowels(input_string)
print("Number of vowels:", result)

Number of vowels: 7

## 6. Count the number of consonants in a string.

In [4]:
def count_consonants(string):
    consonant_count = 0
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    for char in string:
        if char in consonants:
            consonant_count += 1
    return consonant_count
input_string = input("Enter a string: ")
result = count_consonants(input_string)
print("Number of consonants:", result)

Enter a string:  saikrishna

Number of consonants: 6

## 7. Remove all whitespaces from a string.

In [5]:
def remove_whitespace(input_string):
    result = ""
    for char in input_string:
        if char != " ":
            result += char
    return result
input_string = "Hello   World!  my name is sai krishna?"
output_string = remove_whitespace(input_string)
print(output_string)

HelloWorld!mynameissaikrishna?

## 8. Find the length of a string without using the `len()` function.

In [7]:
count = 0
for char in input_string:
    count += 1
print("The length of the string is:",count)

The length of the string is: 39

## 9. Check if a string contains a specific word.

In [8]:
input_string = input("Enter a string: ")
specific_word = input("Enter the specific word to check for:")
if specific_word in input_string:
    print(f"The string contains the word '{specific_word}'.")
else:
    print(f"The string does not contain the word '{specific_word}'.")

Enter a string:  my name is saikrishna
Enter the specific word to check for: krishna

The string contains the word 'krishna'.

## 10. Replace a word in a string with another word.

In [2]:
input_string = input("Enter a sentence: ")
old_word = input("Enter the word to be replaced: ")
new_word = input("Enter the new word:") 
modified_string = input_string.replace(old_word, new_word)
print("Modified string:", modified_string)

Enter a sentence:  hello welcome to python
Enter the word to be replaced:  welcome
Enter the new word: world

Modified string: hello world to python

## 11. Count the occurrences of a word in a string.

In [4]:
def count_word_occurrences(input_string, target_word):
    word_count = 0
    words = input_string.split()
    for word in words:
        if word == target_word:
            word_count += 1
    return word_count


input_string = "This is a python class. This class contains the word 'python' multiple times."
target_word = "python"
result = count_word_occurrences(input_string, target_word)
print(f"The word '{target_word}' appears {result} times in the input string.")

The word 'python' appears 1 times in the input string.

## 12. Find the first occurrence of a word in a string.

In [10]:
def find_first_occurrence(text, word):
    index = text.find(word)
    if index == -1:
        return None  
    return index
text = "This is an example sentence. This sentence contains the word example."
word = "sentence"
result = find_first_occurrence(text, word)
print("Index of the first occurrence:", result)

Index of the first occurrence: 19

## 13. Find the last occurrence of a word in a string.

In [6]:
def find_last_occurrence(text, word):
    index = text.rfind(word)
    if index == -1:
        return None  
    return index
text = "This is an example sentence. This sentence also contains the word example."
word = "example"
result = find_last_occurrence(text, word)
print("Index of the last occurrence:", result)

Index of the last occurrence: 66

## 14. Split a string into a list of words.

In [7]:
def split_string_into_words(text):
    words_list = text.split()
    return words_list
text = "This is an python string class."
words = split_string_into_words(text)
print("List of words:", words)

List of words: ['This', 'is', 'an', 'python', 'string', 'class.']

## 15. Join a list of words into a string.

In [8]:
def join_words_into_string(words_list):
    joined_string = ' '.join(words_list)
    return joined_string
words = ["This", "is", "an", "example", "sentence."]
text = join_words_into_string(words)
print("Joined string:", text)

Joined string: This is an example sentence.

## 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [9]:
def convert_to_underscore_separated(text):
    underscore_separated = text.replace(" ", "_")
    return underscore_separated
text = "This is my first python class in string."
converted_text = convert_to_underscore_separated(text)
print("Converted text:", converted_text)

Converted text: This_is_my_first_python_class_in_string.

## 17. Check if a string starts with a specific word or phrase.

In [12]:
def starts_with(text, prefix):
    is_start = text.startswith(prefix)
    return is_start
text = "Hello, world!"
prefix = "World"
result = starts_with(text, prefix)
if result:
    print("The text starts with the prefix.")
else:
    print("The text does not start with the prefix.")

The text does not start with the prefix.

## 18. Check if a string ends with a specific word or phrase.

In [13]:
def ends_with(text, suffix):
    is_end = text.endswith(suffix)
    return is_end
text = "Hello, world!"
suffix = "Hello!"
result = ends_with(text, suffix)
if result:
    print("The text ends with the suffix.")
else:
    print("The text does not end with the suffix.")

The text does not end with the suffix.

## 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [15]:
def convert_to_title_case(text):
    title_case_text = text.title()
    return title_case_text
text = "hello world"
title_case_result = convert_to_title_case(text)
print("Title case:", title_case_result)

Title case: Hello World

## 20. Find the longest word in a string.

In [17]:
def find_longest_word(text):
    words = text.split()
    longest_word = ""
    max_length = 0
    for word in words:
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word
    return longest_word
text = "This is an python strings  class in pw skills ."
longest_word = find_longest_word(text)
print("Longest word:", longest_word)

Longest word: strings

## 21. Find the shortest word in a string.

In [21]:
def find_shortest_word(text):
    words = text.split()
    shortest_word = None
    min_length = float('inf')  
    for word in words:
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word
    return shortest_word
text = "This is an example sentence with some short words."
shortest_word = find_shortest_word(text)
print("Shortest word:", shortest_word)

Shortest word: is

## 22. Reverse the order of words in a string.

In [1]:
def reverse_words(string):
    string = string[::-1]
    return string
string ="pw skills class on string"
print(reverse_words(string))

gnirts no ssalc slliks wp

## 23. Check if a string is alphanumeric.

In [2]:
def is_alphanumeric(text):
    return text.isalnum()
text = "Hello123"
result = is_alphanumeric(text)
if result:
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

## 24. Extract all digits from a string.

In [4]:
def extract_digits(text):
    digits = ""
    for i in text:
        if i.isdigit():
            digits += i

    
    return digits
text = "Hello123World456"
extracted_digits = extract_digits(text)
print("Extracted digits:", extracted_digits)

Extracted digits: 123456

## 25. Extract all alphabets from a string.

In [5]:
def extract_alphabets(input_string):
    alphabets = ' '.join([char for char in input_string if char.isalpha()])
    return alphabets
input_string = "Hello123World456"
result = extract_alphabets(input_string)
print(result)

H e l l o W o r l d

## 26. Count the number of uppercase letters in a string.

In [6]:
def count_uppercase(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return uppercase_count
input_string = "PW SKiLis liVE class ON PYTHon"
result = count_uppercase(input_string)
print(result)

13

## 27. Count the number of lowercase letters in a string.

In [8]:
def count_lowercase(input_string):
    lowercase_count = sum(1 for char in input_string if char.islower())
    return lowercase_count
input_string = "PW SKiLis liVE class ON PYTHon"
result = count_lowercase(input_string)
print(result)

12

## 28. Swap the case of each character in a string.

In [9]:
def swap_case(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string
input_string = "HelloWORLD"
result = swap_case(input_string)
print(result)

hELLOworld

## 29. Remove a specific word from a string.

In [12]:
def remove_word(input_string, word_to_remove):
    words = input_string.split()  
    filtered_words = [word for word in words if word != word_to_remove] 
    modified_string = ' '.join(filtered_words)  
    return modified_string
input_string = "Hello world, welcome to the world of python programming in class."
word_to_remove = "world"
result = remove_word(input_string, word_to_remove)
print(result)

Hello world, welcome to the of python programming in class.

## 30. Check if a string is a valid email address.

In [19]:
import re
def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  
    if re.match(pattern, email):
        return True
    else:
        return True
email1 = "example@email.com"
email2 = "invalid@email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
True

## 31. Extract the username from an email address string.

In [20]:
def extract_username(email):
    username = email.split('@')[0]
    return username
email = "saikrishna@email.com"
result = extract_username(email)
print(result)

saikrishna

## 32. Extract the domain name from an email address string.

In [21]:
def extract_domain(email):
    domain = email.split('@')[1]  
    return domain
email = "saikrishna@email.com"
result = extract_domain(email)
print(result)

email.com

## 33. Replace multiple spaces in a string with a single space.

In [22]:
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())  
    return cleaned_string
input_string = "Hello     world!   How   are   you?"
result = replace_multiple_spaces(input_string)
print(result)

Hello world! How are you?

## 34. Check if a string is a valid URL.

In [23]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc]) 
    except ValueError:
        return False
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  
print(result2)

True
False

## 35. Extract the protocol (http or https) from a URL string.

In [24]:
def extract_protocol(url):
    protocol_end = url.find("://")

    if protocol_end != -1:
        protocol = url[:protocol_end]
        return protocol
    else:
        return None
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

## 36. Find the frequency of each character in a string.

In [25]:
def character_frequency(input_string):
    frequency = {} 
    for char in input_string:
        if char in frequency:
            frequency[char] += 1  
        else:
            frequency[char] = 1   

    return frequency
input_str = "hello world"
char_freq = character_frequency(input_str)
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

## 37. Remove all punctuation from a string.

In [27]:
import string
def remove_punctuation(input_string):
    translator = str.maketrans("", "", string.punctuation)
    clean_string = input_string.translate(translator)
    return clean_string
input_str = "Hello, world! How's it python class going?"
cleaned_str = remove_punctuation(input_str)
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it python class going?
Cleaned string: Hello world Hows it python class going

## 38. Check if a string contains only digits.

In [28]:
def contains_only_digits(input_string):
    return input_string.isdigit()

string1 = "12345"
string2 = "Hello123"
string3 = "456.789"


result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)

print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'12345' contains only digits: True
'Hello123' contains only digits: False
'456.789' contains only digits: False

## 39. Check if a string contains only alphabets.

In [29]:
def contains_only_alphabets(input_string):
    return input_string.isalpha()

string1 = "Hello"
string2 = "Hello123"
string3 = "saikrishna"

result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)
result3 = contains_only_alphabets(string3)

print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'Hello' contains only alphabets: True
'Hello123' contains only alphabets: False
'saikrishna' contains only alphabets: True

## 40. Convert a string to a list of characters.

In [30]:
def string_to_list(input_string):
    char_list = list(input_string)
    return char_list
input_str = "Hello, world!"
char_list = string_to_list(input_str)
print("Original string:", input_str)
print("List of characters:", char_list)

Original string: Hello, world!
List of characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

## 41. Check if two strings are anagrams.

In [31]:
def are_anagrams(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    return sorted(str1) == sorted(str2)

string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"


result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)


print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

## 42. Encode a string using a Caesar cipher.

In [38]:
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """
  encoded_text = ""

  for char in text:
    if char.isalpha():
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      encoded_char = char
    encoded_text += encoded_char
  return encoded_text
text = "hello, world!"
shift = 3
encoded_text = caesar_cipher(text, shift)
print("Encoded text:", encoded_text)

Encoded text: khoor, zruog!

## 43. Decode a Caesar cipher encoded string.

In [1]:
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """
    decoded_text = ""

    for char in text:
        if char.isalpha():
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            decoded_char = char
        decoded_text += decoded_char
    return decoded_text
text = "Khoor, zruog!"
shift = 3
decoded_text = caesar_cipher_decoder(text, shift)
print("Decoded text:", decoded_text)

Decoded text: bello, world!

## 44. Find the most frequent word in a string.

In [41]:
import re
from collections import Counter

def most_frequent_word(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = clean_string.split()
    word_counter = Counter(words)
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word
input_str = "Hello world, hello there! How's the world?"
most_common = most_frequent_word(input_str)
print("Most frequent word:", most_common)

Most frequent word: hello

## 45. Find all unique words in a string.

In [42]:
import re

def unique_words(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = set(clean_string.split())
    return words
input_str = "Hello world, hello there! How's the world?"
unique_word_set = unique_words(input_str)
print("Unique words:", unique_word_set)

Unique words: {'there', 'world', 'hows', 'hello', 'the'}

## 46. Count the number of syllables in a string.

In [44]:
import re

def count_syllables(word):
    vowel_groups = re.findall(r'[aeiou]+', word, re.IGNORECASE)
    return len(vowel_groups)
word1 = "hello"
word2 = "banana"
word3 = "syllable"
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 2 syllables.

## 47. Check if a string contains any special characters.

In [47]:
import re

def contains_special_characters(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(input_string)
    return bool(match)

string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

## 48. Remove the nth word from a string.

In [49]:
def remove_nth_word(input_string, n):
    words = input_string.split()
    if n >= 1 and n <= len(words):
        removed_word = words.pop(n - 1)
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None
input_str = "This is an example sentence to test the function."
n_value = 5

modified_str, removed_word = remove_nth_word(input_str, n_value)
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an example to test the function.
Removed word: sentence

## 49. Insert a word at the nth position in a string.

In [53]:
def insert_nth_word(input_string, n):
    words = input_string.split()
    if n <= 1 and n >= len(words):
        insert_word = words.pop(n + 1)
        modified_string = ' '.join(words)

        return modified_string, insert_word
    else:
        return None, None
input_str = "This is an example sentence to test the function."
n_value = 5

modified_str, insert_word = insert_nth_word(input_str, n_value)
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("insert word:", inserted_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Invalid n value.

## 50. Convert a CSV string to a list of lists.

In [52]:
def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')
    result = []

    for line in lines:
        fields = line.split(',')

        result.append(fields)

    return result
csv_data = "Name, Age, Country\nSai, 28, india\nMani, 23, USA\nSrinu, 48, UK"
list_of_lists = csv_string_to_list(csv_data)

for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['Sai', ' 28', ' india']
['Mani', ' 23', ' USA']
['Srinu', ' 48', ' UK']

# List Based Practice Problem :

## 1. Create a list with integers from 1 to 10.

In [4]:
list = [i for i in range(1, 11)]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 2. Find the length of a list without using the `len()` function.

In [6]:
def custom_len(input_list):
    count = 0
    for _ in input_list:
        count += 1
    return count
my_list = [10, 20, 30, 40, 50,60,70,80]
length = custom_len(my_list)
print("Length of the list:", length)

Length of the list: 8

## 3. Append an element to the end of a list.

In [9]:
list = [1,2,3,4,5]
list.append(6)
print(list)

[1, 2, 3, 4, 5, 6]

## 4. Insert an element at a specific index in a list.

In [12]:
my_list = [10, 20, 30, 40, 50]
my_list.insert(2,25)
print(my_list)

[10, 20, 25, 30, 40, 50]

## 5. Remove an element from a list by its value.

In [18]:
list =[1,2,5,4,7,88,77,25,]
list.remove(77)
print(list)

[1, 2, 5, 4, 7, 88, 25]

## 6. Remove an element from a list by its index.

In [26]:
my_list = [10,20,30,40,50,60,70,80]
index_to_remove = 5
removed_element = my_list.pop(index_to_remove)
print("Updated list:", my_list)
print("Removed element:", removed_element)

Updated list: [10, 20, 30, 40, 50, 70, 80]
Removed element: 60

## 7. Check if an element exists in a list.

In [31]:
my_list = [10, 20, 30, 40, 50]
element_to_check = 50
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

50 exists in the list.

## 8. Find the index of the first occurrence of an element in a list.

In [34]:
my_list = [10, 20, 30, 40,20,50,60,70,50, 30]
element_to_find = 70
index = my_list.index(element_to_find)
print(f"The index of {element_to_find} is {index}")

The index of 70 is 7

## 9. Count the occurrences of an element in a list.

In [35]:
my_list = [10, 20, 30, 40,20,50,60,70,50, 30]
element_to_count = 50
count = my_list.count(element_to_count)
print(f"The element {element_to_count} occurs {count} times in the list.")

The element 50 occurs 2 times in the list.

## 10. Reverse the order of elements in a list.

In [36]:
my_list = [10, 20, 30, 40,20,50,60,70,50, 30]
my_list.reverse()
print(my_list)

[30, 50, 70, 60, 50, 20, 40, 30, 20, 10]

## 11. Sort a list in ascending order.

In [38]:
my_list = [10, 20, 30, 40,20,50,60,70,50, 30]
my_list.sort()
print("sorted list in ascending order:",my_list)

sorted list in ascending order: [10, 20, 20, 30, 30, 40, 50, 50, 60, 70]

## 12. Sort a list in descending order.

In [40]:
my_list = [10, 20, 30, 40,20,50,60,70,50, 30]
my_list.sort(reverse=True)
print("sorted list in descending order:",my_list)

sorted list in descending order: [70, 60, 50, 50, 40, 30, 30, 20, 20, 10]

## 13. Create a list of even numbers from 1 to 20.

In [46]:
even_numbers = [x for x in range(2, 21, 2)]
print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## 14. Create a list of odd numbers from 1 to 20.

In [47]:
odd_numbers = [x for x in range(1,21,2)]
print("list of odd numbers:",odd_numbers)

list of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## 15. Find the sum of all elements in a list.

In [48]:
my_list = [10, 20, 30, 40, 50]
total_sum = sum(my_list)
print("Sum of elements:", total_sum)

Sum of elements: 150

## 16. Find the maximum value in a list.

In [49]:
my_list = [10, 20, 30, 40,20,50,60,70,50, 30]
max_value = max(my_list)
print("Maximum value:", max_value)

Maximum value: 70

## 17. Find the minimum value in a list.

In [50]:
my_list = [10, 20, 30, 40,20,50,60,70,50, 30]
mix_value = min(my_list)
print("Minimum value:", mix_value)

Minimum value: 10

## 18. Create a list of squares of numbers from 1 to 10.

In [55]:
squares = [x ** 2for x in range(1, 11)] 
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## 19. Create a list of random numbers.

In [59]:
import random
random_integers = [random.randint(1, 50) for _ in range(5)]
print("List of random integers:", random_integers)

List of random integers: [26, 14, 24, 43, 43]

## 20. Remove duplicates from a list.

In [71]:
my_list = [10, 20, 30, 20, 40, 10, 50, 30]
dup_item=set()
uniq_item=[]
for x in my_list:
    if x not in dup_item:
        uniq_item.append(x)
        dup_item.add(x)
print(dup_item)

{40, 10, 50, 20, 30}

## 21. Find the common elements between two lists.

In [78]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]
common_element = list1 and list2
print("common_element in list1:",common_element)
print("common_element in list2:",common_element)

common_element in list1: [30, 40, 50, 60, 70]
common_element in list2: [30, 40, 50, 60, 70]

## 22. Find the difference between two lists.

In [57]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]
difference = list(set(list1).difference(list2))
print("Difference between lists:", difference)

Difference between lists: [20, 10]

## 23. Merge two lists.

In [88]:
list1 = [10, 20, 30]
list2 = [40, 50, 60]
merged_list = list1 + list2
print("Merged list:", merged_list)

Merged list: [10, 20, 30, 40, 50, 60]

## 24. Multiply all elements in a list by 2.

In [89]:
my_list = [10, 20, 30, 40, 50]
multiplied_list = [x * 2 for x in my_list]
print("Multiplied list:", multiplied_list)

Multiplied list: [20, 40, 60, 80, 100]

## 25. Filter out all even numbers from a list.

In [56]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

filtered_list = list(num for num in original_list if num % 2 == 0)

print("Filtered list:", filtered_list)

Filtered list: [2, 4, 6, 8, 10]

## 26. Convert a list of strings to a list of integers.

In [90]:
string_list = ["10", "20", "30", "40", "50"]
integer_list = [int(x) for x in string_list]
print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

## 27. Convert a list of integers to a list of strings.

In [91]:
integer_list = [10, 20, 30, 40, 50]
string_list = [str(x) for x in integer_list]
print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50']

## 28. Flatten a nested list.

In [53]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened
flattened_list = flatten_list(nested_list)
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

## 29. Create a list of the first 10 Fibonacci numbers.

In [93]:
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  # Initialize the list with the first two Fibonacci numbers

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

# Generate the first 10 Fibonacci numbers
fibonacci_numbers = generate_fibonacci(2)

# Print the list of Fibonacci numbers
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1]

## 30. Check if a list is sorted.

In [1]:
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True
ascending_list = [10, 20, 30, 40, 50]
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

## 31. Rotate a list to the left by `n` positions.

In [4]:
def rotate_left(lst, n):
    n = n % len(lst)  
    rotated = lst[n:] + lst[:n]
    return rotated
my_list = [1, 2, 3, 4, 5, 6]
n = 2
rotated_list = rotate_left(my_list, n)
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

## 32. Rotate a list to the right by `n` positions.

In [5]:
def rotate_right(lst,n):
    n = n % len(lst)
    rotated = lst[-n:] + lst[:-n]
    return rotated
my_list = [1, 2, 3, 4, 5, 6, 7]
n = 4
rotated_list = rotate_right(my_list,n)
print("Rotated list:",rotated_list)

Rotated list: [4, 5, 6, 7, 1, 2, 3]

## 33. Create a list of prime numbers up to 50.

In [11]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True
prime_numbers = [num for num in range(2,30) if is_prime(num)]
print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

## 34. Split a list into chunks of size `n`.

In [52]:
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)
    return primes
prime_numbers = sieve_of_eratosthenes(50)
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

## 35. Find the second largest number in a list.

In [12]:
my_list = [10, 5, 20, 15, 30, 25]
sorted_list = sorted(set(my_list))
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

## 36. Replace every element in a list with its square.

In [14]:
my_list = [2, 4, 6, 8, 12,14]
squared_list = [x ** 2 for x in my_list]
print("Squared list:", squared_list)

Squared list: [4, 16, 36, 64, 144, 196]

## 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [15]:
my_list = ['python', 'dsa', 'EDA', 'datescience']
my_dict = {element: index for index, element in enumerate(my_list)}
print("Converted dictionary:", my_dict)

Converted dictionary: {'python': 0, 'dsa': 1, 'EDA': 2, 'datescience': 3}

## 38. Shuffle the elements of a list randomly.

In [18]:
import random
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(my_list)
print("Shuffled list:", my_list)

Shuffled list: [8, 4, 1, 6, 5, 9, 3, 10, 7, 2]

## 39. Create a list of the first 10 factorial numbers.

In [19]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
factorial_numbers = [factorial(i) for i in range(10)]
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

## 40. Check if two lists have at least one element in common.

In [20]:
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False


list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

## 41. Remove all elements from a list.

In [21]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print("Empty list:", my_list)

Empty list: []

## 42. Replace negative numbers in a list with 0.

In [1]:
my_list = [10, -5, 20, -15, 30, -25]
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

## 43. Convert a string into a list of words.

In [4]:
my_string = "This is my python string and list assignment."
word_list = my_string.split()
print("List of words:", word_list)

List of words: ['This', 'is', 'my', 'python', 'string', 'and', 'list', 'assignment.']

## 44. Convert a list of words into a string.

In [7]:
my_list = ["This", "is" ,"my" ,"python" ,"string ","and" ,"list", "assignment."]
word_string = " ".join(word_list)
print("converted string:",my_string)

converted string: This is my python string and list assignment.

## 45. Create a list of the first `n` powers of 2.

In [8]:
n = 5
power_list = [2 ** i for i in range(n)]
print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

## 46. Find the longest string in a list of strings.

In [11]:
string_list = ["kaikalur", "vijayawada", "vizag", "hyderabad", "bangalore"]

longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s
print("Longest string:", longest_string)

Longest string: vijayawada

## 47. Find the shortest string in a list of strings.

In [14]:
string_list = ["kaikalur", "vijayawada", "vizag", "hyderabad", "bangalore"]
shortest_string = string_list[0] 
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s
print("Shortest string:", shortest_string)

Shortest string: vizag

## 48. Create a list of the first `n` triangular numbers.

In [15]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]
n = 5
triangular_list = triangular_numbers(n)
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

## 49. Check if a list contains another list as a subsequence.

In [20]:
def is_subsequence(subsequence, main_list):
    subseq_index = 0  
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return False
    return True
main_list = [1, 2, 3, 4, 5, 4, 8, 7, 9, 10]
subsequence = [3, 4, 5]
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list does not contain the subsequence.

## 50. Swap two elements in a list by their indices.

In [26]:
my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 4

temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

print("List after swapping elements:", my_list)

List after swapping elements: [1, 5, 3, 4, 2]

# Tuple Based Practice Problem :

## 1. Create a tuple with integers from 1 to 5.

In [7]:
tuple = [i for i in range(1, 6)]
print(tuple)

[1, 2, 3, 4, 5]

## 2. Access the third element of a tuple.

In [4]:
my_tuple = (10, 20, 30, 40, 50)
third_element = my_tuple[2]
print("the third element of the tupleis:",third_element)

the third element of the tupleis: 30

## 3. Find the length of a tuple without using the `len()` function.

In [8]:
my_tuple = (10, 20, 30, 40, 50)
count = 0
for _ in my_tuple:
    count += 1
print("The length of the tuple is:", count)

The length of the tuple is: 5

## 4. Count the occurrences of an element in a tuple.

In [9]:
my_tuple = (10, 20, 30, 20, 40, 50, 20)
element_to_count = 50
count = 0
for item in my_tuple:
    if item == element_to_count:
        count += 1
print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 50 appears 1 times in the tuple.

## 5. Find the index of the first occurrence of an element in a tuple.

In [6]:
my_tuple = (10, 20, 30, 20, 40, 50)
element_to_find = 20
index = 1  
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

## 6. Check if an element exists in a tuple.

In [11]:
my_tuple = (10, 20, 30, 40, 50)
element_to_check = 60
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

60 does not exist in the tuple.

## 7. Convert a tuple to a list.

In [12]:
my_tuple = (10, 20, 30, 40, 50)
my_list = list(my_tuple)
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

## 8. Convert a list to a tuple.

In [13]:
my_list =[10,20,30,40,50,60]
my_tuple = tuple(my_list)
print("List:",my_list)
print("Tuple:",my_tuple)

List: [10, 20, 30, 40, 50, 60]
Tuple: (10, 20, 30, 40, 50, 60)

## 9. Unpack the elements of a tuple into variables.

In [15]:
my_tuple = (20,40,60)
var_1,var_2,var_3 = my_tuple
print("var_1:",var_1)
print("var_2:",var_2)
print("var_3:",var_3)

var_1: 20
var_2: 40
var_3: 60

## 10. Create a tuple of even numbers from 1 to 10.

In [21]:
even_numbers_list = [num for num in range(2,11,2)]
even_numbers_tuple = tuple(even_numbers_list)
print("Tuple even numbers:",even_numbers_tuple)

Tuple even numbers: (2, 4, 6, 8, 10)

## 11. Create a tuple of odd numbers from 1 to 10.

In [22]:
odd_numbers_list = [num for num in range(1,11,2)]
odd_numbers_tuple = tuple(odd_numbers_list)
print("Tuple odd numbers:",odd_numbers_tuple)

Tuple odd numbers: (1, 3, 5, 7, 9)

## 12. Concatenate two tuples.

In [25]:
tuple_1 = (1,2,3,4)
tuple_2 = (5,6,7,8)
tuple = tuple_1 + tuple_2
print(tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

## 13. Repeat a tuple three times.

In [27]:
tuple = (1, 2, 3)
repeated_tuple = tuple * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

## 14. Check if a tuple is empty.

In [30]:
empty_tuple=()
if not empty_tuple:
    print("The empty tuple is empty")
else:
    print("The empty tuple is not empty")
non_empty_tuple=(1,2,3)
if not non_empty_tuple:
    print("The non empty tuple is empty")
else:
    print("The non empty tuple is not empty")

The empty tuple is empty
The non empty tuple is not empty

## 15. Create a nested tuple.

In [33]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

## 16. Access the first element of a nested tuple.

In [4]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
first_element = nested_tuple[0]
print("first element  of nested tuple:",first_element)

first element  of nested tuple: (1, 2, 3)

## 17. Create a tuple with a single element.

In [6]:
single_element_tuple = (50)
print(single_element_tuple)

50

## 18. Compare two tuples.

In [10]:
tuple1 = (1,2,3)
tuple2 = (1,2,4)
print("tuple1==tuple2:",tuple1==tuple2)
print("tuple1 != tuple2:",tuple1 != tuple2)
print("tuple1 < tuple2:",tuple1 < tuple2)
print("tuple1 > tuple2:",tuple1 > tuple2)
print("tuple1 >= tuple2:",tuple1 >= tuple2)
print("tuple1 <= tuple2:",tuple1 <= tuple2)

tuple1==tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False
tuple1 <= tuple2: True

## 19. Delete a tuple.

In [65]:
my_tuple = (1, 2, 3, 4, 5)

# Step 2: Delete the tuple using the 'del' statement
del my_tuple

# Step 3: Try to access the tuple (will raise a NameError)
print(my_tuple)

NameError: name 'my_tuple' is not defined

## 20. Slice a tuple.

In [6]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sliced_tuple = my_tuple[3:8]  
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (4, 5, 6, 7, 8)

## 21. Find the maximum value in a tuple.

In [10]:
my_tuple = (1,2,25,45,78,23,44)
max_value = max(my_tuple)
print("Maximum value:",max_value)

Maximum value: 78

## 22. Find the minimum value in a tuple.

In [11]:
my_tuple = (1,2,24,15,55,78,65)
min_value = min(my_tuple)
print("Minimum value:",min_value)

Minimum value: 1

## 23. Convert a string to a tuple of characters.

In [12]:
string = "saikrishna"
tuple = tuple(string)
print(tuple)

('s', 'a', 'i', 'k', 'r', 'i', 's', 'h', 'n', 'a')

## 24. Convert a tuple of characters to a string.

In [13]:
tuple = ('s', 'a', 'i', 'k', 'r', 'i', 's', 'h', 'n', 'a')
string = ''.join(tuple)
print(string)

saikrishna

## 25. Create a tuple from multiple data types.

In [14]:
tuple = (12,"sai",21.1,True,2+5j)
print(tuple)

(12, 'sai', 21.1, True, (2+5j))

## 26. Check if two tuples are identical.

In [15]:
tuple1 = (1,2,3)
tuple2 = (1,2,3)
tuple3 = (4,5,6)
are_identical1 = tuple1==tuple2
are_identical2 = tuple1==tuple3
print("tuple1 and tuple2 are identical1:",are_identical1)
print("tuple1 and tuple3 are identical2:", are_identical2)

tuple1 and tuple2 are identical1: True
tuple1 and tuple3 are identical2: False

## 27. Sort the elements of a tuple.

In [22]:
my_tuple = [10, 30,20,10,40,60,70,50, 30]
my_tuple.sort()
print("sorted tuple in  order:",my_tuple)

sorted tuple in  order: [10, 10, 20, 30, 30, 40, 50, 60, 70]

## 28. Convert a tuple of integers to a tuple of strings.

In [2]:
tuple_of_integers = (1, 2, 3, 4, 5)
tuple_of_string =  tuple(str(item) for item in tuple_of_integers)
print("Tuple of string:", tuple_of_string)

Tuple of string: ('1', '2', '3', '4', '5')

## 29. Convert a tuple of strings to a tuple of integers.

In [1]:
tuple_of_strings = ('10', '20', '30', '40', '50')

# Step 2: Convert the tuple of strings to a tuple of integers using a list comprehension
tuple_of_integers =  tuple(int(item) for item in tuple_of_strings)

# Step 3: Print the tuple of integers
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

## 30. Merge two tuples.

In [3]:
tuple1 = (1,2,5,4)
tuple2 = (2,5,4,2)
tuple3 = t1+t2
print(tuple3)

(1, 2, 5, 4, 2, 5, 4, 2)

## 31. Flatten a nested tuple.

In [4]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))
flattened_tuple = tuple(flatten_tuple(nested_tuple))
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

## 32. Create a tuple of the first 5 prime numbers.

In [5]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]
prime_numbers_tuple = tuple(prime_numbers_list)
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

## 33. Check if a tuple is a palindrome.

In [8]:
def is_palindrome(tup):
    return tup == tup[::-1]

palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

## 34. Create a tuple of squares of numbers from 1 to 5.

In [9]:
squares_tuple = tuple(x ** 2 for x in range(1, 6))
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

## 35. Filter out all even numbers from a tuple.

In [55]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

filtered_tuple = tuple(num for num in original_tuple if num % 2 == 0)

print("Filtered tuple:", filtered_tuple)

Filtered tuple: (2, 4, 6, 8, 10)

## 36. Multiply all elements in a tuple by 2.

In [14]:
original_tuple = (1, 2, 3, 4, 5)

doubled_tuple = tuple(num * 2 for num in original_tuple)
print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

## 37. Create a tuple of random numbers.

In [16]:
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(10)) 
print("Random tuple:", random_tuple)

Random tuple: (82, 18, 64, 50, 67, 45, 92, 85, 65, 34)

## 38. Check if a tuple is sorted.

In [17]:
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

## 39. Rotate a tuple to the left by `n` positions.

In [21]:
def rotate_tuple_left(tup, n):
    n = n % len(tup) 
    rotated_tuple = tup[n:] + tup[:n] 
    return rotated_tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 3
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

## 40. Rotate a tuple to the right by `n` positions.

In [20]:
def rotate_tuple_left(tup, n):
    n = n % len(tup) 
    rotated_tuple = tup[-n:] + tup[:-n] 
    return rotated_tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 1
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(5, 1, 2, 3, 4)

## 41. Create a tuple of the first 5 Fibonacci numbers.

In [22]:
def generate_fibonacci(n):
    fibonacci = [0, 1]  
    while len(fibonacci) < n:  
        next_number = fibonacci[-1] + fibonacci[-2]  
        fibonacci.append(next_number)  
    return tuple(fibonacci)  
fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

## 42. Create a tuple from user input.

In [23]:
input_str = input("Enter elements separated by commas: ")
input_list = input_str.split(',')
user_tuple = tuple(input_list)
print("User input tuple:", user_tuple)

Enter elements separated by commas:  s,a,i,k,r,i,s,h,n,a

User input tuple: ('s', 'a', 'i', 'k', 'r', 'i', 's', 'h', 'n', 'a')

## 43. Swap two elements in a tuple.

In [27]:
my_tuple = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3

temp = my_tuple[index1]
my_tuple[index1] = my_tuple[index2]
my_tuple[index2] = temp

print("tuple after swapping elements:", my_tuple)

tuple after swapping elements: [1, 4, 3, 2, 5]

## 44. Reverse the elements of a tuple.

In [28]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

## 45. Create a tuple of the first `n` powers of 2.

In [29]:
n = 5
powers_of_2_tuple = tuple(2 ** i for i in range(n))
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

## 46. Find the longest string in a tuple of strings.

In [30]:
string_tuple = ("hunuman", "lakshamana", "sita", "ram")
longest_string = max(string_tuple, key=len)
print("Longest string:", longest_string)

Longest string: lakshamana

## 47. Find the shortest string in a tuple of strings.

In [32]:
string_tuple = ("hunuman", "lakshamana", "sita", "ram")
shortest_string = min(string_tuple, key=len)
print("shortest string:", shortest_string)

shortest string: ram

## 48. Create a tuple of the first `n` triangular numbers.

In [33]:
n = 5
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

## 49. Check if a tuple contains another tuple as a subsequence.

In [34]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (3, 4, 5)
contains_subseq = contains_subsequence(main_tuple, sub_tuple)
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

## 50. Create a tuple of alternating 1s and 0s of length `n`.

In [35]:
n = 10
alternating_tuple = tuple(i % 2 for i in range(n))
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# Set Based Practice Problem :

## 1. Create a set with integers from 1 to 5.

In [2]:
my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

## 2. Add an element to a set.

In [4]:
my_set = {1,2,3,4,5}
print(my_set)
element_add = 6
my_set.add(element_add)
print("add new element:",my_set)

{1, 2, 3, 4, 5}
add new element: {1, 2, 3, 4, 5, 6}

## 3. Remove an element from a set.

In [5]:
my_set = {1,2,3,4,5}
print(my_set)
element_remove = 4
my_set.remove(element_remove)
print("remove new element:",my_set)

{1, 2, 3, 4, 5}
remove new element: {1, 2, 3, 5}

## 4. Check if an element exists in a set.

In [9]:
my_set ={1,2,3,4,4,6,8,9}
element_to_check = int(input("enter the element to cleck:"))
if element_to_check in my_set:
    print(f"{element_to_check} exists in set")
else:
    print(f"{element_to_check} does not exists in set")

enter the element to cleck: 5

5 does not exists in set

## 5. Find the length of a set without using the `len()` function.

In [15]:
my_set={1,2,3,4,5,6,7}
count=0
for i in my_set:
    count+=1
print("length of the set:",count)

length of the set: 7

## 6. Clear all elements from a set.

In [16]:
my_set={1,2,3,4,5,6,7}
print("orginal set:",my_set)
my_set.clear()
print("set after clearing:",my_set)

orginal set: {1, 2, 3, 4, 5, 6, 7}
set after clearing: set()

## 7. Create a set of even numbers from 1 to 10.

In [17]:
even_numbers_set = set()
for i in range(1,11):
    if i % 2 == 0:
        even_numbers_set.add(i)
print(even_numbers_set)

{2, 4, 6, 8, 10}

## 8. Create a set of odd numbers from 1 to 10.

In [19]:
odd_numbers_set = set()
for i in range(1,11):
    if i % 2 == 1:
        odd_numbers_set.add(i)
print(odd_numbers_set)

{1, 3, 5, 7, 9}

## 9. Find the union of two sets.

In [20]:
set1={1,2,3,4}
set2={4,5,6,2}
union_result = set1.union(set2)
print("set1:",set1)
print("set2:",set2)
print("Union of Set 1 and Set 2:", union_result)

set1: {1, 2, 3, 4}
set2: {2, 4, 5, 6}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6}

## 10. Find the intersection of two sets.

In [21]:
set1={1,2,3,4}
set2={4,5,6,2}
intersection_result = set1.intersection(set2)
print("set1:",set1)
print("set2:",set2)
print("intersection of Set 1 and Set 2:", intersection_result)

set1: {1, 2, 3, 4}
set2: {2, 4, 5, 6}
intersection of Set 1 and Set 2: {2, 4}

## 11. Find the difference between two sets.

In [22]:
set1={1,2,3,4}
set2={4,5,6,2}
difference_result = set1.difference(set2)
print("set1:",set1)
print("set2:",set2)
print("difference of Set 1 and Set 2:", difference_result)

set1: {1, 2, 3, 4}
set2: {2, 4, 5, 6}
difference of Set 1 and Set 2: {1, 3}

## 12. Check if a set is a subset of another set.

In [26]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

## 13. Check if a set is a superset of another set.

In [27]:
et1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}
is_superset = set1.issuperset(set2)
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is not a superset of set2

## 14. Create a set from a list.

In [28]:
my_list = [2, 4, 1, 4, 3, 2, 5]
my_set = set(my_list)
print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

## 15. Convert a set to a list.

In [29]:
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}
my_list = list(my_set)
print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

## 16. Remove a random element from a set.

In [13]:
import random
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
random_element = random.choice(list(my_set))
my_set.remove(random_element)
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 4 : {1, 2, 3, 5}

## 17. Pop an element from a set.

In [3]:
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
popped_element = my_set.pop()
print("Popped element:", popped_element)
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

## 18. Check if two sets have no elements in common.

In [4]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

common_elements = set1.intersection(set2)
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

## 19. Find the symmetric difference between two sets.

In [5]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
symmetric_difference = set1 ^ set2
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

## 20. Update a set with elements from another set.

In [6]:
set1 = {1, 2, 3}
print("Set 1:", set1)

set2 = {3, 4, 5}
print("Set 2:", set2)
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

## 21. Create a set of the first 5 prime numbers.

In [7]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_set = set()

num = 2

while len(prime_set) < 5:

    if is_prime(num):
        
        prime_set.add(num)
    num += 1
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

## 22. Check if two sets are identical.

In [8]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

## 23. Create a frozen set.

In [9]:
elements = [1, 2, 3, 4, 5]
my_frozen_set = frozenset(elements)
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

## 24. Check if a set is disjoint with another set.

In [10]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
disjoint_status = set1.isdisjoint(set2)
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

## 25. Create a set of squares of numbers from 1 to 5.

In [11]:
squares_set = set()
for num in range(1, 6):
    square = num ** 2
    squares_set.add(square)
print(squares_set)

{1, 4, 9, 16, 25}

## 26. Filter out all even numbers from a set.

In [14]:
original_set = {1, 2, 3, 4, 5}
even_numbers_set = set()
for num in original_set:
    if num % 2 == 0:
        even_numbers_set.add(num)
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

## 27. Multiply all elements in a set by 2.

In [15]:
original_set = {1, 2, 3, 4, 5}
multiplied_set = set()
for num in original_set:
    multiplied_num = num * 2
    multiplied_set.add(multiplied_num)
print("Original Set:", original_set)
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

## 28. Create a set of random numbers.

In [17]:
import random
num_random_numbers = 5
random_number_set = set()
for _ in range(num_random_numbers):
    random_num = random.randint(1, 100)  
    random_number_set.add(random_num)
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {98, 34, 68, 9, 15}

## 29. Check if a set is empty.

In [18]:
my_set = set()
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

## 30. Create a nested set (hint: use frozenset).

In [19]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
nested_set = {frozen_set1, frozen_set2}
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

## 31. Remove an element from a set using the discard method.

In [20]:
my_set = {1, 2, 3, 4, 5}
print("Initial set:", my_set)
element_to_remove = 3
my_set.discard(element_to_remove)
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

## 32. Compare two sets.

In [21]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

is_subset = set1.issubset(set2)

is_superset = set1.issuperset(set2)


intersection = set1.intersection(set2)

union = set1.union(set2)

difference1 = set1.difference(set2)

difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

## 33. Create a set from a string.

In [22]:
input_string = "hello"
char_set = set(input_string)
print(char_set)

{'o', 'h', 'e', 'l'}

## 34. Convert a set of strings to a set of integers.

In [24]:
string_set = {"143", "214", "251"}
integer_set = set()
for string in string_set:
    integer_value = int(string)
    integer_set.add(integer_value)
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'214', '143', '251'}
Converted Integer Set: {251, 214, 143}

## 35. Convert a set of integers to a set of strings.

In [26]:
integers_set = {1, 2, 3, 4, 5}
strings_set = set()
for num in integers_set:
    num_str = str(num)
    strings_set.add(num_str)
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'1', '5', '2', '4', '3'}

## 36. Create a set from a tuple.

In [48]:
input_tuple = (1, 2, 3, 2, 4, 5, 1)
output_set = set(input_tuple)
print(output_set)

{1, 2, 3, 4, 5}

## 37. Convert a set to a tuple.

In [47]:
input_set = {1, 2, 3, 4, 5}
output_tuple = tuple(input_set)
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

## 38. Find the maximum value in a set.

In [44]:
my_set = {14, 6, 55, 132, 82}
max_value = None
for num in my_set:
    if max_value is None or num > max_value:
        max_value = num  
print("Maximum value:", max_value)

Maximum value: 132

## 39. Find the minimum value in a set.

In [45]:
number_set = {14, 6, 55, 132, 82}
min_value = None
for num in number_set:
    if min_value is None or num < min_value:
        min_value = num
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 6

## 40. Create a set from user input.

In [46]:
user_set = set()
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ") 

    if user_input.lower() == 'done':
        break  
    user_set.add(user_input)
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  pwskills
>  python
>  saikrishna
>  done

Final set: {'saikrishna', 'pwskills', 'python'}

## 41. Check if the intersection of two sets is empty.

In [39]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_result = set1.intersection(set2)
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

## 42. Create a set of the first 5 Fibonacci numbers.

In [38]:
fibonacci_set = set()
a, b = 0, 1
for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

## 43. Remove duplicates from a list using sets.

In [37]:
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
unique_set = set(original_list)
unique_list = list(unique_set)
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

## 44. Check if two sets have the same elements, regardless of their count.

In [36]:
def have_same_elements(set1, set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
    return sorted_list1 == sorted_list2
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}
result = have_same_elements(set1, set2)
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

## 45. Create a set of the first `n` powers of 2.

In [35]:
def generate_powers_of_2(n):
    powers_of_2 = set()
    for i in range(n):
        power = 2 ** i
        powers_of_2.add(power)
    return powers_of_2
n = 5
powers_set = generate_powers_of_2(n)
print(powers_set)

{1, 2, 4, 8, 16}

## 46. Find the common elements between a set and a list.

In [34]:
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]
list_to_set = set(my_list)
common_elements = []
for element in my_set:
    if element in list_to_set:
        common_elements.append(element)
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

## 47. Create a set of the first `n` triangular numbers.

In [32]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  
        triangular_numbers.add(triangular_number) 
    return triangular_numbers
n = int(input("Enter the value of n: "))
triangular_set = generate_triangular_numbers(n)
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  15

The set of the first 15 triangular numbers is: {1, 66, 3, 36, 6, 105, 10, 45, 78, 15, 21, 55, 120, 91, 28}

## 48. Check if a set contains another set as a subset.

In [33]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

## 49. Create a set of alternating 1s and 0s of length `n`.

In [41]:
def create_alternating_set(n):
    alternating_set = set()
    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1)  
        else:
            alternating_set.add(0)  

    return alternating_set
length_n = 10
result = create_alternating_set(length_n)
print(result)

{0, 1}

## 50. Merge multiple sets into one.

In [42]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}

## Completed